# Ide
.idea

#python cache
__pycache__/

# envs
env/
venv/
Pipfile.lock

# test output image
src/images/nord.png
src/images/test.*

# Vim 
.vim/
*.sw*

# python files
.pyc
__pycache__/

# temp dir
temp/

# node modules
node_modules
package-lock.json
