# Ide
.idea

# env
env/
venv/

# autopublish
images/*.jpg
images/*.jpeg
images/*.png

# test output image
wat.png
src/images/out.png
src/images/quantize.*

# Vim swap files
*.sw*

# python files
.pyc
__pycache__/
