# Ide
.idea

#python cache
__pycache__/

# envs
env/
venv/

# autopublish
images/*.jpg
images/*.jpeg
images/*.png

# test output image
wat.png
src/images/out.png
src/images/quantize.*

# Vim 
.vim/
*.sw*

# python files
.pyc
__pycache__/

# node modules
node_modules
package-lock.json