@import 'nord.scss';

// Colors
$text-primary: $nord3;
$bg-primary: $nord6;

// Breakpoints variables
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;