// Global style
@import 'variables';

/* Layout */
html {
  font-family: 'Red Hat Display', sans-serif;
  background: $bg-primary;
  color: $text-primary;
  transition: all 400ms ease-in-out 0s;
  
  * {
    color: $text-primary;
    text-decoration: none;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    // padding: 0 1.5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .external-link-color {
    color: $nord7;

    &:hover {
      color: $nord11;
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    margin: 0 .5em;
    font-size: 1.1em;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 0.25em;
    padding: .675em 1.5em;
    transition: all 200ms ease-in 0s;
    cursor: pointer;

    &.btn-primary {
      border: 1px solid $bg-secondary;
      background: $dark-bg-secondary;
      color: $text-secondary;
      &:hover {
        background: $nord7;
        color: $text-primary;
      }
    }

    &.btn-info {
      border: 1px solid $bg-secondary;
      background: transparent;
      &:hover {
        border: 1px solid $nord5;
        color: $nord8;
        background: $nord5;
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
      input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $nord4;
    -webkit-transition: .4s;
    transition: .4s;
    
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $nord5;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
  
  
  input:checked + .slider {
    background-color: $nord10;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $nord6;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
  .range-input {
    -webkit-appearance: none;
    width: 100%;
    height: .6em;
    background: $nord4;
    border-radius: 1em;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    &:hover {
      opacity: 1;
    }

    &:disabled {
      &:hover {
        opacity: 0.7;
      }
      background: $dark-bg-primary;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      height: 1.4em;
      width: 1.4em;
      background: $nord10;
      border-radius: 100%;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: $bg-secondary;
      cursor: pointer;
    }
  }
}

.relative {
  position: relative;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &__active {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.logo {
  max-width: 150px;
  display: block;
}

.btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
  i {
    padding-right: 0.3em;
  }
}

.palette-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: row;

  .palette-post {
    display: flex;
    text-align: center;
    width: 100%;
    margin: 15px 10px;
    flex: auto;
    border: 8px solid transparent;

    &:hover, &:focus, &:active, &.current-palette {
      border-color: $nord12;
      cursor: pointer;
    }

    .palette-title {
      font-size: 25px;
      text-align: center;
      width: calc(100% - 16px);
      padding-top: 5em;
      height: 6em;
      color: $nord6;
      background: #757575c9;
      font-weight: bold;
      display: block;
    }

    img {
      max-width: 100%;
      max-height: 215px;
      border: 6px solid $nord4;
      border-radius: 5px;
    }
  }
}


/* dark theme */
@import 'dark';

/* media queries */
@import '_media_queries';