// Global style
@import 'variables';

/* Layout */
html {
  font-family: 'Red Hat Display', sans-serif;
  background: $bg-primary;
  color: $text-primary;
  transition: all 400ms ease-in-out 0s;
  
  * {
    color: $text-primary;
    text-decoration: none;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    // padding: 0 1.5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .external-link-color {
    color: $nord7;

    &:hover {
      color: $nord11;
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    margin: 0 .5em;
    font-size: 1.1em;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 0.25em;
    padding: .675em 1.5em;
    transition: all 200ms ease-in 0s;
    cursor: pointer;

    &.btn-primary {
      border: 1px solid $bg-secondary;
      background: $dark-bg-secondary;
      color: $text-secondary;
      &:hover {
        background: $nord7;
        color: $text-primary;
      }
    }

    &.btn-info {
      border: 1px solid $bg-secondary;
      background: transparent;
      &:hover {
        border: 1px solid $nord5;
        color: $nord8;
        background: $nord5;
      }
    }
  }
}

/* dark theme */
@import 'dark';

/* media queries */
@import '_media_queries';